
.alert {
    color: #FFF;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    border-radius: 1.2rem;
    text-align: center;
}

.alert-danger {
    background: #F2DEDE;
    border: 1px solid #A94442;
    color: #A94442;
}