:root {
  --indie: 'Indie Flower', cursive;
  --poppins: 'Poppins', sans-serif;
  --josefin: 'Josefin Sans', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: var(--josefin);
  font-size: 1.6rem;
  /* background-color: #f1f1f1; */
  background-image: url(./bg.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

body::after {
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.swal2-popup.swal2-modal.swal2-show {
  font-size: 100%;
}

.swal2-popup.swal2-toast.swal2-show {
  font-size: 80%;
}


img {
  max-width: 100%;
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 2.8rem;
  /* font-family: 'Great Vibes', cursive; */

}

h4 {
  margin: 0;
}

i {
  margin-right: .7rem;
}

.container {
  max-width: 110rem;
  width: 95%;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  border-radius: 1rem;
  background-color: transparent;
  padding: 1rem;
  outline: none;
}

.btn:hover {
  cursor: pointer;
}

.card {
  background: white;
  padding: 2rem;
}


